.alerta {

    padding: .5rem;
    p {
        margin: 0%;
    }

    &.error {
        color: $error;
    } 
    &.success {
        color: $success;
        text-align: center;
        font-size: 3rem; 
    }
}